<div class='chat-history-message-container'>
    {{#if date}}
        <p class='chat-history-date'>
            {{date}}
        </p>
    {{/if}}
    <div class='chat-current-user-message-container'>
        <p>{{text}}</p>
        <div class='chat-current-user-message-time'>
            {{#if isChecked}}
                <image src={{checkedIconSrc}} />
            {{/if}}
            {{time}}
        </div>
    </div>
</div>