.message-content-wrapper {
    max-width: 380px;
    min-width: 80px;
    line-height: 15px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    background-color: var(--message-bg-color);
    border-radius: 12px 12px 12px 0;

    &.current-user {
        border-radius: 12px 12px 0;
        background-color: var(--message-current-user-bg-color);
        align-self: end;
    }

    .text-content {
        padding-right: 28px;

        .text {
            font-size: 14px;
        }

        .message-time {
            position: absolute;
            right: 11px;
            bottom: 10px;
            font-size: 9px;
            line-height: 9px;
        }
    }
}
