<div class='chat-history-message-container'>
    {{#if date}}
        <p class='chat-history-date'>
            {{date}}
        </p>
    {{/if}}
    <div class='chat-user-message-container'>
        <p>{{text}}</p>
        <p class='chat-user-message-time'>
            {{time}}
        </p>
    </div>
</div>