<div class='message-content-wrapper'>
    <div class='message-content'>
        <div class='content-inner'>
            <div class='text-content'>
                {{text}}
                <div class='MessageMeta'>
                    <span class='message-time'>
                        {{time}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>