<div class='message-content-wrapper{{#if isCurrentUser}} current-user{{/if}}'>
    <div class='message-content'>
        <div class='content-inner'>
            <div class='text-content'>
                <span class='text'>{{text}}</span>
                <div class='MessageMeta'>
                    <span class='message-time'>
                        {{time}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>