:root {
    --bg-color: #fff;
    --inverted-bg-color: #1d1400;
    --primary-color: #3369f3;
    --secondary-color: #1e1e1e;
    --inverted-primary-color: #fbf8f4;
    --inverted-secondary-color: #e8af1f;
}
