:root {
    --bg-color: #FFFFFF;
    --inverted-bg-color: #1d1400;
    --primary-color: #3369F3;
    --secondary-color: #1E1E1E;
    --inverted-primary-color: #fbf8f4;
    --inverted-secondary-color: #e8af1f;
}
