<div class='chat-user-container'>
    <div class='chat-user-info-container'>
        {{{UserAvatar}}}
        <h3 class='chat-user-info-login'>
            {{login}}
        </h3>
    </div>
    {{{DeleteUserButton}}}
</div>