.chat-card {
    padding: 12px;
    transition: background 0.2s ease;
    cursor: pointer;

    &:not(:first-child) {
        border-top: 1px solid var(--border-color-ea);
    }

    &:hover {
        background: var(--skyblue);
    }

    &--active {
        background: var(--skyblue);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
    }

    &__title {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
    }

    &__time {
        font-size: 12px;
        color: var(--gray75);
    }

    &__content {
        display: flex;
        justify-content: space-between;

        .chat-card__message {
            margin: 0;
            font-size: 13px;
            color: var(--gray99);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .chat-card__badge {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background: var(--primary-color);
            color: var(--white);
            border-radius: 50%;
            font-size: 12px;
            user-select: none;
        }
    }
}
