.chat-card-wrapper {
    display: flex;
    padding: 12px 10px;
    transition: background 0.2s ease;
    cursor: pointer;

    &:not(:first-child) {
        border-top: 1px solid var(--border-color-ea);
    }

    &:hover {
        background: var(--skyblue);
    }

    &--active {
        background: var(--skyblue);
    }

    .chat-card {
        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;

            .chat-card__message {
                margin: 0;
                font-size: 13px;
                color: var(--gray99);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .chat-card__badge {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background: var(--primary-color);
                color: var(--white);
                border-radius: 50%;
                font-size: 12px;
                user-select: none;
            }
        }

        &__info {
            display: flex;
            justify-content: space-between;
        }

        &__title {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
        }

        &__time {
            font-size: 12px;
            color: var(--gray75);
        }

        // justify-content: space-between;
    }

    .chat-card-avatar {
        margin-right: 10px;

        .chat-avatar {
            height: 37px;
            width: 37px;

            & img {
                height: 15px;
                width: 15px;
            }
        }
    }
}
