.message-feed {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__placeholder {
        font-size: 24px;
        color: var(--placeholder-color);
    }
}
