<div class='chat-header'>
    <div class='header-link'>
        {{{link}}}
    </div>
    <div class='header-searchBar'>
        <input
            type='search'
            id='search'
            name='searchBar'
            class='searchBar'
            placeholder='{{placeholderSearch}}'
        />
    </div>
</div>