.chat-header {
    padding: 15px;
    display: flex;
    flex-direction: column;

    .header-link {
        margin-left: auto;
        margin-bottom: 24px;

        .button {
            color: var(--gray99);
        }
    }

    .header-searchBar {
        .searchBar {
            background-color: var(--input-bg-color);
        }
    }
}
