<div class='profile-edit-item-container'>
    <div class='profile-edit-item'>
        {{{fields}}}
    </div>
    {{#if error}}
        <p class='profile-edit__error-text'>{{error}}</p>
    {{/if}}
</div>