.profile-form {
    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 510px;
    }

    &__title {
        color: var(--primary-color);
        text-align: center;
        padding: 25px;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .input-group {
            text-align: right;
            min-height: 36px;

            .input-group-container {
                display: flex;

                .input-field {
                    text-align: right;
                }
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;

        .button {
            height: 38px;
        }
    }
}
