<div class='profile-form'>
    {{#if avatar}}
        <div class='profile-form__avatar'>
            <img alt='{{avatar}}' src='{{avatar}}' />
        </div>
    {{/if}}
    <form class='profile-form__form'>
        <h1 class='profile-form__title'>Профиль</h1>

        <div class='profile-form__fields'>
            {{#each inputs}}
                {{{this}}}
            {{/each}}
        </div>

        <div class='profile-form__actions'>
            {{#each buttons}}
                {{{this}}}
            {{/each}}
        </div>
    </form>
</div>