<form class='profile-form'>
    <h1 class='profile-form__title'>Профиль</h1>

    <div class='profile-form__fields'>
        {{#each inputs}}
            {{{this}}}
        {{/each}}
    </div>

    <div class='profile-form__actions'>
        {{{button}}}
    </div>
</form>