.chat-page {
    display: flex;
    height: 100vh;
    flex: 1;

    &__sidebar {
        width: 310px;
        border-right: 1px solid var(--border-color-e9);
        background: var(--sidebar-bg-color);
    }

    &__chat {
        flex: 1;
    }
}
